@{
    ViewData["Title"] = "Message";
}

<h1>Message</h1>

<div class="alert alert-success" role="alert">
    <h4 class="alert alert-success">Thank You</h4>
    <p>Your registration has been seccessfully sent <br></br>QUMC</p>
</div>


